{% extends "seo_link/tests/test_base.html" %}

{% block body %}
<div class="page-row-line clearfix">
	<p> multi colum id nesting testpage </p>
	<p> contains ids (col1,col2,col3,col4) css classes (main,sidebar)</p>
	<div class="line">
		<div id="col1" class="unit">
			<p> id=col1 is not restricted in any way,
			 main,main-content is operational css class
			 sidebar is ignore css class</p>
			<div class="main-content">
				<p>here it should be replaced main-content ###REPLACE ME###</p>
			</div>
			<div class="sidebar">
				<p>here it should not be replaced col1 sidebar ###REPLACE ME###</p>
			</div>
			<div class="main-content second">
				<p>here it should be replaced main-content second ###REPLACE ME###</p>
			</div>
		</div>
		<div id="col2" class="unit">
			<div class="main-content">
				<p> id=col2 is to ignore, but class main allows replacement</p>
				<p> so this should not be replaced col2-ignore-main ###REPLACE ME###</p>
			</div>
		</div>
		<div id="col3" class="unit">
			<p> id=col3 is operational, so this should be replaced main-col3 ###REPLACE ME###</p>
			<div class="sidebar">
				<p> id=col3 is operational, but sidebar not</p>
				<p> so this should not be replaced main-col3-sidebar-ignore ###REPLACE ME###</p>
			</div>
		</div>
		
		<div id="col4" class="lastunit">
			<p> id=col4 is operational, so this should be replaced main-col4 ###REPLACE ME###</p>
			<div class="sidebar main-content">
				<p>id=col4 is operational, css class sidebar not and css class main-content is operational</p>
				<p>so this should not be replaced col4-sidebar-ignore ###REPLACE ME###</p>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
{% endblock %}